venv
*.pyc
*.swp
*.egg-info
build
dist
.coverage
cover
*.egg

# Mergetool:
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*.orig

# PyCharm project files
.idea/dictionaries
.idea/misc.xml
.idea/workspace.xml